name: release

permissions:
  contents: write

on:
  push:
    tags:
      - v[0-9].*

env:
  CARGO_TERM_COLOR: always

jobs:
  test-workspace:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Run tests
        run: cargo test --verbose --workspace

  create-release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: taiki-e/create-gh-release-action@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

  upload-assets:
    needs: create-release
    strategy:
      fail-fast: false
      matrix:
        build:
          - target: aarch64-unknown-linux-musl
            os: ubuntu-latest
          - target: aarch64-apple-darwin
            os: macos-latest
          - target: x86_64-unknown-linux-musl
            os: ubuntu-latest
          - target: x86_64-apple-darwin
            os: macos-latest
          - target: universal-apple-darwin
            os: macos-latest
          - target: x86_64-pc-windows-gnu
            os: windows-latest

        bin-config:
          - name: mindustry_logic_bang_lang
          - name: mdt-ops-generator
            package: mdt-ops-generator
          - name: mlog-decompiler
            package: mlog-decompiler
          - name: bangls
            package: bangls

    runs-on: ${{ matrix.build.os }}
    steps:
      - uses: actions/checkout@v4
      - uses: taiki-e/upload-rust-binary-action@v1
        with:
          bin: ${{ matrix.bin-config.name }}
          archive: $bin-$tag_$target
          tar: none
          tar-xz: unix
          package: ${{ matrix.bin-config.package }}
          target: ${{ matrix.build.target }}
          checksum: ''
          token: ${{ secrets.GITHUB_TOKEN }}

  accept-release:
    needs: [test-workspace, upload-assets]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: ref=${{ github.ref }} && gh release edit --prerelease=false --latest ${ref##*/}
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  copy-vscode-syntax:
    needs: create-release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ConorMacBride/install-package@v1
        with:
          apt: jq
      - run: |
          rel=$(jq -r .version ./syntax/vscode/support/package.json)
          ref=${{ github.ref }}
          gh release upload ${ref##*/} ./syntax/vscode/support/release/mdtlbl-$rel.vsix --clobber
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  docs:
    needs: create-release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install markdown2html-converter
        run: |
          wget -O md2html.tar.gz https://github.com/A4-Tacks/markdown2html-converter/releases/download/v2.0.0-local.3/markdown2html-converter-v2.0.0-local.3-x86_64-unknown-linux-musl.tar.gz
          tar -xf md2html.tar.gz

      - name: Make markdown
        run: |
          ref=${{ github.ref }}
          name=learn-bang-${ref##*/}.md
          html=${name%.md}.html

          mkdir docs
          cp ./examples/learn.md docs/$name
          cd docs
          ../markdown2html-converter --header-ids "" $name -o $html -t learn-bang

      - run: |
          ref=${{ github.ref }}
          gh release upload ${ref##*/} docs/*
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
